__init__.py
*.pyc
.*.swp
.#*
#*#
*~


# ignore partially applied patches and their backup
*.rej
*.orig

# ignore files under the top level $CMSSW_BASE/src directory, but not its subdirectories
/*
!/*/
